{% extends 'base.html' %}
{% block content %}
<html>
    <h1>InvOrganizer Page</h1>
    <h4>Name: {{name}} Class: {{class}}</h4>

    <hr>

    <body>
        <p>Item Count : {{count}}</p>
        <table>
            <tr>
                <th><h4>Nama Produk</h4></th>
                <th><h4>Jumlah Produk</h4></th>
                <th><h4>Harga Produk</h4></th>
                <th><h4>Deskripsi Produk</h4></th>
            </tr>
            {% for produk in list %}
            <tr>
                <td><h4>{{produk.name}}</h4></td>
                <td><h4><form action="{% url 'main:indecrement' id=produk.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="increment"><i class="fa fa-trash">+</i></button>
                 </form>{{produk.amount}}<form action="{% url 'main:indecrement' id=produk.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="decrement"><i class="fa fa-trash">-</i></button>
                 </form></h4></td>
                <td><h4>{{produk.price}}</h4></td>
                <td><h4>{{produk.description}}</h4></td>
                <td><h4><form action="{% url 'main:remove' id=produk.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" ><i class="fa fa-trash">Remove</i></button>
                 </form></h4></td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'main:create_product' %}">
            <button>
                Add New Product
            </button>
        </a>
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </body>
</html>
{% endblock content %}